/* css styles */

/* モダンなデザインのスタイルを追加 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    background-image: 
        linear-gradient(to right, #ccc 1px, transparent 1px), /* 縦線 */
        linear-gradient(to bottom, #ccc 1px, transparent 1px); /* 横線 */
    background-size: 20px 20px; /* 方眼のサイズを調整 */
    color: #333,0.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #218838;
}
